<div class="modal fade" id="addCall" tabindex="-1" role="dialog" aria-labelledby="Add a new call" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add a new call</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post">
                <input type="hidden" name="action" value="addCall">

                <div class="modal-body">
                    <div class="form-group row">
                        <label for="call_title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="call_title" name="call_title" placeholder="Call title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="call_type" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="call_type" name="call_type"
                                    onchange="changeCallType(this.value)">
                                <option value="INTERNAL">Internal</option>
                                <option value="EXTERNAL" selected>External</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" input-customer>
                        <label for="call_customer" class="col-sm-2 col-form-label">Customer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="call_customer" name="call_customer" placeholder="Call customer">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>