{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ message }}</h1>
    <h2>{{ error.status }}</h2>
    <pre>{{ error.stack }}</pre>
    <a class="btn btn-primary" href="/" role="button">Back to home</a>
{% endblock %}
