{% extends 'layout.twig' %}

{% block body %}
    {% if msg %}
        <div class="alert {{ msg[1] ? 'alert-danger' : 'alert-success' }} alert-dismissible fade show" role="alert">
            {{ msg[0] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <nav class="navbar sticky-top navbar-light mb-4 px-4 justify-content-center justify-content-md-between">
        <a class="navbar-brand mb-0 h1" href="/">Calls</a>

        <div class="row form-inline justify-content-center justify-content-md-around">
            <div class="px-2 input-group my-2 my-md-0 col-8 col-md-6">
                <label for="filterTitle" class="sr-only">Filter by title</label>
                <input type="text" class="form-control" id="filterTitle" aria-label="Filter by title">
                <div class="input-group-append">
                    <span class="input-group-text bg-white"><i class="fas fa-search"></i></span>
                </div>
            </div>

            <div class="px-2 col-8 col-md-6" style="max-width: 200px">
                <label for="filterType" class="sr-only">Filter by type</label>
                <select class="custom-select bg-transparent border-dark" id="filterType"
                        onchange="filterCallType(this.value)">
                    <option hidden selected>FILTER BY TYPE</option>
                    <option value="ALL">All</option>
                    <option value="INTERNAL">Internal</option>
                    <option value="EXTERNAL">External</option>
                </select>
            </div>
        </div>
    </nav>

    <div class="container-fluid px-md-5">
        {% if error %}
            <p class="text-danger">{{ error }}</p>
            <br>
            <a class="btn btn-primary" href="/" role="button">Try again</a>
        {% else %}
            <div class="row justify-content-around">

                <!-- Default card, used to add a new call -->
                <div class="card shadow border-light mb-4 mx-1 px-0 col-10 col-sm-5">
                    <div class="card-body">
                        <button type="button" class="bg-transparent border-0 w-100 h-100"
                                style="outline: none"
                                data-toggle="modal" data-target="#addCall">
                            <i class="fas fa-plus align-items-center d-flex justify-content-center h1"
                               data-toggle="tooltip" data-placement="top" title="Add a new call">
                            </i>
                        </button>
                    </div>
                </div>

                <!-- list of all cards -->
                {% for call in callList %}
                    <div class="card shadow border-light mb-4 mx-1 px-0 col-10 col-sm-5" call call-type="{{ call.type }}" call-title="{{ call.title }}">
                        <div class="card-header {{ call.type == 'INTERNAL' ? 'bg-warning' : 'bg-primary' }}">
                            <span class="text-white h5 mb-0">{{ call.customer | default('Internal') }}</span>
                            <div class="float-right">
                                <form method="post">
                                    <input type="hidden" name="action" value="setBookmark">
                                    <input type="hidden" name="call_id" value="{{ call.id }}">
                                    <input type="hidden" name="call_bookmark" value="{{ call.bookmark }}">
                                    <button type="submit" class="bg-transparent border-0" style="outline: none"
                                            data-toggle="tooltip" data-placement="top"
                                            title="{{ call.bookmark ? 'Remove from favorites' : 'Set as favorite' }}">
                                        <i class="{{ call.bookmark ? 'fas fa-bookmark' : 'far fa-bookmark' }}"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="card-body h2">
                            {{ call.title }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Used to add a new call -->
    {% include 'addCall.twig' %}
{% endblock %}