body {
  padding: 0;
  margin: 0;
  font: 14px "Encode Sans", sans-serif;
  background-color: #f8f9fa !important; }

nav {
  background-color: #d3d3d3; }

.alert {
  position: fixed !important;
  bottom: 0 !important;
  left: 25%;
  right: 25%;
  z-index: 100; }

.card {
  max-width: 300px;
  height: 22rem; }

/*# sourceMappingURL=style.css.map */